body {
    margin: 0%;
    height: 100%;
}
.left{
    position: absolute;

}
.intro {
    text-align: justify;
    /* margin: 5px; */
    height: 175px;
    width: 65%;
    
}
#profile {
    float: left;
    height: 150px;
    width: 150px;
    /* display: block; */
    align-content: left;
    margin: 5px;
    padding: 5px;
} 

#contact {
    background-color: #A85CF9;
    /* float: right; */
    width: 30%;
    height: 175px;
    padding: 5px;
    border: #A85CF9;
    border-radius: 5%;
    margin: 5px;
}

.experience {
    padding-top: 175px;
}


.right {
    float: right;
}

/* 
.exper {
    background-color: #5534A5;
    height: 200px;
    width: 200px;
    position: absolute;
    float: left;
    margin-left: 25%;
}

.skill {
    background-color: #4B7BE5;
    height: 200px;
    width: 200px;

}

.educa {
    background-color: #6FDFDF;
    height: 200px;
    width: 200px;

}

.conta {
    background-color: #A85CF9;
    height: 200px;
    width: 200px;

}
*/


img {
    height: 10px;
    width: 10px;
}

