h2 {
    padding: 3px;
    background-color: #807777;
    text-align: center;
}
h6 {
    float: right;
    text-align: right;
    margin: 5px;
}

ul {
    margin-left: 25px;
    list-style: none;
}
ul li::before{
    content: "■";
    color: burlywood;
    display: inline-block;
    font-weight: bold;
    width: 1em;
    margin-left: -1em ;
}


.body {
    margin: 10px;
    height: 100%;
}
.left{
    position: absolute;
    width: 68%;

}
.intro {
    text-align: justify;
    margin: 5px;
    height: 175px;
    /* background-color: none;     */
}
#desg {
    background-color: transparent;
    text-align: left;
}


#profile {
    float: left;
    height: 150px;
    width: 150px;
    align-content: left;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #807777;
    
} 


.experience {
    /* padding-top: 175px; */
}


.right {
    float: right;
    width: 30%;
}

.contact {
    background-color: #808080;
    height: auto;
    border: #A85CF9;
    border-radius: 5%;
    margin: 5px;
    color: white;
    margin-bottom: 40px;
    padding: 5px;
}

#skills {
    background-color: #808080;
    /* float: right; */
    /* width: 30%; */
    height: auto;
    /* padding: 5px; */
    border: #A85CF9;
    border-radius: 5%;
    /* margin: 5px; */
    color: white;
    padding: 5px;

}



img {
    margin: 10px;
    height: 20px;
    width: 20px;
    background-color: white;
    padding: 2px;
    border-radius: 25%;
}

.heading {
    height: 40px;
    width: 40px;
}

.noback {
    background-color: transparent;
    border: none;
    padding: 3px;
    border-radius: 0px;
    /* margin-left: 25px; */
    text-align: center;
    height: fit-content;
    /* width: fit-content; */
}

#contact {
    text-decoration: none;
    color: white;
}

h4 {
    width: fit-content;
    border: 1px black solid;
    padding: 7px;
    border-radius: 50px;
    color: burlywood;
    background-color: black  ;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}